<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Júlio Reis</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

    <body>
        <table cellspacing="20">
            <tbody><tr>
                <td><img src="static/julio_circular_150x150.png"></td>
                <td><h1>Julio dos Reis Firmino</h1>
                <p><em>Fundador da Firmino's Corporation</em></p>
                <p>Sou software developer e adoro encarar desafios</p></td>
            </tr>
        </tbody></table>
        <hr>
        <h1 class="format">Currículo Vitae</h1>
        <hr>
        <p><b>Nome:</b> Julio dos Reis Firmino - (Brasileiro, 40 anos, Casado)<br>
        <b>Endereço:</b> Rua Igara S/N, Lt:8C - Vila São João - São João de Meriti - RJ.<br>
        <b>Email:</b> julreifir@yahoo.com.br<br>
        <b>Contato:</b> (21)98037-9545<br>
        <b>Redes Sociais:</b> <a href="https://linkedin.com/in/julio-dos-reis-firmino-6b11246a" target="_blank">Minha página no Linkedin</a><br>
        <b>GitHub:</b> <a href="https://github.com/julioreis-dev" target="_blank">Minha página no GitHub</a>
        </p>
        <hr>
        <h2 class="format">Formação Acadêmica</h2>
        <ul>
            <li>Licenciatura em Matemática - UFRJ</li>
            <li>Técnico em Processamento de dados - Colégio Duque de Caxias</li>
            <li>Técnico em Administração - Curso CETAP</li>
        </ul>
        <hr>
        <h2 class="format">Idiomas</h2>
        <ul>
            <li>Inglês Avançado - (Escrita, Leitura e Conversação)</li>
            <li>Frances - (Básico)</li>
            <li>Português - (Nativo)</li>
        </ul>
        <hr>
        <h2 class="format">Qualificações Profissionais</h2>
        <ul>
            <li>Desenvolvedor Python;</li>
            <li>Desenvolvedor VBA;</li>
            <li>Conhecimento em Django;</li>
            <li>Conhecimento em Html;</li>
            <li>Conhecimento em CSS3;</li>
            <li>Conhecimento em Mysql;</li>
            <li>Conhecimento em Postgree;</li>
            <li>Conhecimento Avançado em SAP ERP.</li>
        </ul>
        <hr>
        <h2 class="format">Resumo das experiências</h2>
        <p>Sou um profissional atuante no mercado de óleo e gás com vasta experiência em desenvolvimento de software para o gerenciamento da
            extensa frota marítima que opera para a Petrobras. Desenvolvo soluções no qual tem por finalidade a consolidação, o tratamento e
            a alocação de recursos dentro dos parametros contratuais previamente definidos entre a contratante e a contratada.<br>
        </p>
        <hr>
        <h2 class="format">Experiência Profissional</h2>
        <p><b>Empresa:</b>Petrobras S.A.<br>
            <b>Data de início / final:</b>10/10/2015 até o momento.</p>
            <ul>
            <li><b>Cargo/função:</b> Desenvolvedor Python;</li>
            <li><b>Atividades exercidas:</b> Desenvolvimento e coordenação de soluções para o processo de mensuração dos contratos;</li>
            <li><b>Resultados:</b></li>
        </ul>

        <a href="1_teste.html">acessar página de informações adicionais</a>
    </body>
</html>