<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Julio Reis</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
      <div class="top-container">
        <h1><em>I'm Julio.</em></h1>
        <img src="static/image/mountain.png" alt="photo mountain" width=300 height=300>
        <h2>Python Software Engineer</h2>
      </div>
      <div class="middle-container">
        <img src="static/image/julio.png" alt="photo julio" width=160 height=160>
        <h2>Hello!!!</h2>
        <p>I work as Python developer at least 3 years and I enjoy to face news challenges.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="image_code" src="static/image/coding.png" alt="logo code" width=250 height=200>
          <h3>Development</h3>
          <p class="p_image_code">I have started my interest for development in my mathematics course at UFRJ. I learned code whith Pascal language and that experience was incredible and exciting.</p>
        </div>
      <hr>
        <div class="skill-row">
          <img class="image_develop" src="static/image/python.png" alt="logo development" width=200 height=200>
          <h3>Python Projects</h3>
          <p class="p_image_develop">This period of time I could develop many diferents projects and learn more about python potential. I have some projects to oil and gas industry besides projects to renewable energy industry.</p>
        </div>
      </div>
      <hr>
      <div>
        <h2>Get In Touch</h2>
        <h3>Do you have some challenge project???</h3>
        <p class="contact-message">Please, contacte-me. I'm sure that I can help you or your company.</p>
        <a class="btn" href="mailto:juliofirminoreis@hotmail.com">CONTACT ME</a>
        <p></p>
      </div>
      <div class="bottom-container">
          <a class="footer-link" href="https:linkedin.com/in/julio-dos-reis-firmino-6b11246a">LinkedIn</a>
          <a class="footer-link" href="https://twitter.com/">Twitter</a>
          <a class="footer-link" href="https://github.com/julioreis-dev" target="_blank">GitHub</a>
          <p class="copyright">© 2018 Julio Reis.</p>
      </div>
</body>
</html>

